#############################################
## Отмечаем, что не нужно отправлять в GIT ##
#############################################

# Игнорируем среду разработки #
/.idea/*
/nbproject/*

# Исключения #
!.gitkeep
!.htaccess